@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');

body {
	background-color: white;
}

.header-navigation {
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	color: black;
	text-align: right;
	text-decoration: none;
}

.utility{
	width: 100px;
}

header, img{
	width: 10%;
}

.shortcuts {
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	text-align: center;
	width: 10%;
}
