@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');

body {
	background-color: white;
}

h1, p {
	color: green;
}

.header-navigation {
	font-family: 'Oswald', sans-serif;
}